// ------------------------------------------------------------
// App Global Style
// 
// This file is for global styles - Applies to the whole site.
// ------------------------------------------------------------
@import './variables';
@import './mixins';

body {
    height: 100%;
    background-color: $very-light-gray;
    line-height: 1.55;
    color: $very-dark-gray;
}

// The outermost area wrapping the whole application
.app-wrapper {
    display: flex;
}

// The main flex area without sidebars
.content {
    flex: 1 1;
}

// The ui-view where the pages dynamically load
.view {
    padding: 10px;
}
