.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header        header"
        "sidebar-left  main";
    width: 100vw;
    height: 100vh;

    lumi-header {
        grid-area: header;
        z-index: 500;
    }

    main {
        grid-area: main;
        z-index: 100;
        overflow: auto;
    }

    lumi-sidebar-left {
        grid-area: sidebar-left;
        z-index: 300;
    }
}
