{
    "env": {
        "production": {
            "presets": [
                ["es2015", { "modules": false }]
            ]
        },
        "development": {
            "presets": [
                ["es2015", { "modules": false }]
            ]
        }
    },
    "presets": [
        "es2015"
    ]
}