@import "../../../styles/abstracts";

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.register-wrapper {
    min-width: 350px;
    background-color: $white;
    border-radius: 3px;
    @include box-shadow(0, 10px, 35px, rgba(0, 0, 0, 0.15));

    .header {
        padding: $padding-medium;
        text-align: center;
        @include box-shadow(0, 1px, 0, rgba(0, 0, 0, 0.05));

        .logo {
            width: 15%;
            height: auto;
        }
    }

    .content { padding: $padding-medium; }

    .footer {
        padding: $padding-medium;
        font-size: 0.8rem;
        color: #888;
        @include box-shadow(0, -1px, 0, rgba(0, 0, 0, 0.05));
    }
}

// Todo: Put this in a directive/component or a SCSS mixin - It's the same button as in the login component.
button {
    $button-color: $blue;

    width: 100%;
    padding: 15px;
    background-color: $button-color;
    color: $white;
    border: none;
    border-radius: 3px;
    @include box-shadow(0, 3px, 0, darken($button-color, 15%));

    &:focus,
    &:hover {
        background-color: darken($button-color, 15%);
        @include box-shadow(0, 3px, 0, darken($button-color, 30%));
        cursor: pointer;
        outline: none;
    }

    &:active {
        margin: 1px 0 -1px;
        padding-top: 16px;
        padding-bottom: 14px;
        background-color: darken($button-color, 30%);
        @include box-shadow(0, 2px, 0, darken($button-color, 45%));
    }
}
