// Mixins used for keeping code clean and simplify writing recurring snippets.

// Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
           -moz-box-shadow: inset $top $left $blur $color;
                box-shadow: inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
           -moz-box-shadow: $top $left $blur $color;
                box-shadow: $top $left $blur $color;
    }
}

// Border Radius
@mixin border-radius($radius: 0.5em) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

// Media Queries with Breakpoints set in _variables
@mixin mq-break($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}