// Global (non-color) variables used across the whole project.

$navbar-width: 200px;
$sidebar-right-width: 250px;
$topbar-height: 60px;

// Responsive breakpoints for i.e. media queries
$breakpoints: (
    'tiny':        576px,
    'small':       768px,
    'medium':      992px,
    'large':       1200px,
    'huge':        1440px
);