// Global (non-color) variables used across the whole project.

// Dimensions
$navbar-width: 250px;
$navbar-compact-width: 80px;
$navbar-footer-height: 60px;

$topbar-height: 60px;

$sidebar-right-width: 250px;

// Responsive breakpoints for media queries
$breakpoints: (
    'tiny':   576px,
    'small':  768px,
    'medium': 992px,
    'large':  1200px,
    'huge':   1440px
);