@import '../../../styles/abstracts';

header {
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  width: 100%;
  height: $topbar-height;
  background-color: $extremely-light-blue-gray;
  color: $color-primary-text;
  @include box-shadow(0, 0, 1px, $color-primary-dark);

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $navbar-compact-width;
    height: 100%;
    background-color: $color-secondary;
    @include responsive-ease-transition();

    @include mq-break('medium') {
      width: $navbar-width;
      @include responsive-ease-transition();
    }
  }

  .breadcrumb { padding-left: 10px; }
}
