@import '../../styles/abstracts';

.topbar {
    display: flex;
    height: $topbar-height;
    background-color: $white;

    @include box-shadow(0, 0, 2px, $gray);

    .breadcrumb {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        padding-left: 20px;
    }
}