@import '../../styles/abstracts';

$topbar-background-color: $very-dark-blue;
$header-logo-background-color: $blue;

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    height: $topbar-height;
    background-color: $topbar-background-color;
    @include box-shadow(0, 0, 3px, $gray);
    color: $white;

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $navbar-compact-width;
        height: 100%;
        background-color: $header-logo-background-color;
        transition: all 0.3s ease;

        @include mq-break('medium') {
            width: $navbar-width;
            transition: all 0.3s ease;
        }
    }

    .breadcrumb { padding-left: 20px; }
}