@import '../../styles/abstracts';

$navbar-background-color: $very-dark-blue;

.navbar {
    position: fixed;
    z-index: 1500;
    width: $navbar-width;
    height: calc(100% - #{$topbar-height});
    flex: 0 0 $navbar-width;
    order: -1;
    background-color: $navbar-background-color;

    nav {
        padding-top: 15px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                &:hover {
                    background-color: ($navbar-background-color - 15%);
                    @include box-shadow(3px, 0, 0, $white, true);
                }

                a {
                    display: flex;
                    padding: 5px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;

                    img { margin-right: 10px; }
                }
            }
        }
    }
}