@import '../../styles/abstracts';

$navbar-background-color: $very-dark-blue;

.navbar {
    position: fixed;
    z-index: 1500;
    width: $navbar-compact-width;
    height: calc(100% - #{$topbar-height});
    flex: 0 0 $navbar-width;
    order: -1;
    background-color: $navbar-background-color;
    color: $white;
    transition: all 0.3s ease;

    nav {
        padding-top: 15px;
        height: calc(100% - #{$navbar-footer-height} - 15px); // subtract navbar-footer and nav top padding
        width: 100%;
        text-align: center;
        overflow-y: auto;
        overflow-x: hidden;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                &.active { @include box-shadow(3px, 0, 0, $blue, true); }

                &:hover { background-color: ($navbar-background-color - 15%); }

                a {
                    display: block;
                    padding: 5px;
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;

                    i {
                        display: block;
                        line-height: 0;
                    }
                }
            }
        }
    }

    @include mq-break('medium') {
        width: $navbar-width;
        transition: all 0.3s ease;

        nav {
            text-align: left;

            ul li a {
                display: flex;
                align-items: center;
                padding: 5px 15px 5px;

                i {
                    display: inline-block;
                    padding-right: 10px;
                }
            }
        }
    }

    .navbar-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $navbar-footer-height;
        text-align: center;
    }
}