// ------------------------------------------------------------
// Component - Sidebar
//
// Part of the Flexbox with order 0 for left alignment
// ------------------------------------------------------------
@import '../../styles/abstracts';

$sidebar-background-color: $dark-medium-blue;

.sidebar {
    position: fixed;
    z-index: 1500;
    width: $sidebar-width;
    height: calc(100% - #{$topbar-height});
    flex: 0 0 $sidebar-width;
    order: -1;
    background-color: $sidebar-background-color;

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                &:hover {
                    background-color: ($sidebar-background-color - 15%);
                    @include box-shadow(3px, 0, 0, $white, true);
                }

                a {
                    display: flex;
                    padding: 5px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}