@import './styles/abstracts';

.app {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: $topbar-height;

        main {
            flex: 1;
            margin-left: $navbar-compact-width;
            padding: 10px;
            transition: all 0.3s ease;

            // Todo: make this more beautiful - Sets margin only here, should be set in only one place maybe
            @include mq-break('medium') {
                margin-left: $navbar-width;
                transition: all 0.3s ease;
            }

            @include mq-break('huge') {
                margin-right: $sidebar-right-width;
                transition: all 0.3s ease;
            }
        }
    }
}
