@import './styles/abstracts';

.app {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: $topbar-height;

        main {
            flex: 1;
            margin-left: $navbar-width;
            padding: 10px;

            // Todo: make this more beautiful - Sets margin when right sidebar is visible
            @include mq-break('medium') {
                margin-right: $sidebar-right-width;
            }
        }
    }
}
