@import './styles/abstracts';

.app {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: $topbar-height;

        main {
            flex: 1;
            margin-left: $sidebar-width;
            padding: 10px;
        }
    }
}
