@import '../../styles/abstracts';

.rightsidebar {
    position: fixed;
    z-index: 999;
    right: 0;
    width: $rightsidebar-width;
    height: calc(100% - #{$topbar-height});
    flex: 0 0 $rightsidebar-width;
    order: 1;
    background-color: $white;
}