@import "../../../../styles/abstracts";

:host {
    display: block;
}

.sidebar-right {
    display: none;
    height: 100%;
    width: $sidebar-right-width;
    background-color: $very-light-blue-gray;
    @include box-shadow(-1px, 0, 0, rgba(0, 0, 0, .075));
}

.visible {
    display: block;
}
