// The base styling used globally that is not part of a component.

html { height: 100%; }

body {
    height: 100%;
    background-color: $very-light-gray;
}

// Makes images scale in parent div for responsiveness.
img {
    max-width: 100%;
    height: auto;
}