// Everything related to fonts and typography used globally.

body {
  color: $color-primary-text;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}